<a href="https://colab.research.google.com/github/SeJin317/-/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#데이터 크롤링
#파이썬으로 HTML을 다루는 모듈
#페이지를 요청하는 모듈
#엑셀화 모듈
#시간 모듈

from bs4 import BeautifulSoup #파이썬으로 HTML을 다루는 기능
import requests               #페이지 요청
import pandas as pd
import time

In [3]:
url=requests.get("https://search.daum.net/search?w=tot&DA=YZR&t__nil_searchbox=btn&sug=&sugo=&sq=&o=&q=%EB%A1%9C%EB%98%90") 
url
#200은 가져올 때 문제가 없었다는 뜻
#400번대: 존재하지 않는 페이지
#500번대: 비공개 페이지

In [14]:
url.text
html=BeautifulSoup(url.text)
html.find("span",class_='f_red')
html.find("span",class_='f_red').text #알맹이만 보기 위해 .text 붙임

'1048회'

In [15]:
current=int(html.find("span",class_='f_red').text.replace("회",""))
current

1048

In [16]:
html.find("div",class_='wrap_lotto').text

'  6 12 17 21 32 39 보너스 30  내번호 당첨조회 '

In [17]:
html.find("div",class_='lottonum')

<div class="lottonum"> <span class="ball bg_ball1">6</span> <span class="ball bg_ball2">12</span> <span class="ball bg_ball2">17</span> <span class="ball bg_ball3">21</span> <span class="ball bg_ball4">32</span> <span class="ball bg_ball4">39</span> <span class="ball txt_bonus"><span class="screen_out">보너스</span></span> <span class="ball bg_ball3">30</span> </div>

In [18]:
html.find("div",class_='lottonum').find_all("span")

[<span class="ball bg_ball1">6</span>,
 <span class="ball bg_ball2">12</span>,
 <span class="ball bg_ball2">17</span>,
 <span class="ball bg_ball3">21</span>,
 <span class="ball bg_ball4">32</span>,
 <span class="ball bg_ball4">39</span>,
 <span class="ball txt_bonus"><span class="screen_out">보너스</span></span>,
 <span class="screen_out">보너스</span>,
 <span class="ball bg_ball3">30</span>]

In [33]:
number=html.find("div",class_='lottonum').find_all("span")
number

[<span class="ball bg_ball1">6</span>,
 <span class="ball bg_ball2">12</span>,
 <span class="ball bg_ball2">17</span>,
 <span class="ball bg_ball3">21</span>,
 <span class="ball bg_ball4">32</span>,
 <span class="ball bg_ball4">39</span>,
 <span class="ball txt_bonus"><span class="screen_out">보너스</span></span>,
 <span class="screen_out">보너스</span>,
 <span class="ball bg_ball3">30</span>]

In [34]:
del number[-2]
del number[-2]
number

[<span class="ball bg_ball1">6</span>,
 <span class="ball bg_ball2">12</span>,
 <span class="ball bg_ball2">17</span>,
 <span class="ball bg_ball3">21</span>,
 <span class="ball bg_ball4">32</span>,
 <span class="ball bg_ball4">39</span>,
 <span class="ball bg_ball3">30</span>]

In [35]:
box=[]
for i in number: box.append(int(i.text))
box

[6, 12, 17, 21, 32, 39, 30]

In [42]:
total = []

for n in range(1, 10):                       #1회부터 순서대로 로또 정보 요청
  url=requests.get(f"https://search.daum.net/search?nil_suggest=btn&w=tot&DA=SBC&q={n}%ED%9A%8C%EC%B0%A8+%EB%A1%9C%EB%98%90")
  html=BeautifulSoup(url.text)
  number=html.find("div",class_='lottonum').find_all("span")

  del number[-2]
  del number[-2]

  box = []
  for i in number: box.append(int(i.text))

  total.append(box)
  print(f"{n}회 로또 데이터 저장완료...{box} ")
  time.sleep(1)

1회 로또 데이터 저장완료...[10, 23, 29, 33, 37, 40, 16]
2회 로또 데이터 저장완료...[9, 13, 21, 25, 32, 42, 2]
3회 로또 데이터 저장완료...[11, 16, 19, 21, 27, 31, 30]
4회 로또 데이터 저장완료...[14, 27, 30, 31, 40, 42, 2]
5회 로또 데이터 저장완료...[16, 24, 29, 40, 41, 42, 3]
6회 로또 데이터 저장완료...[14, 15, 26, 27, 40, 42, 34]
7회 로또 데이터 저장완료...[2, 9, 16, 25, 26, 40, 42]
8회 로또 데이터 저장완료...[8, 19, 25, 34, 37, 39, 9]
9회 로또 데이터 저장완료...[2, 4, 16, 17, 36, 39, 14]

In [43]:
total

[[10, 23, 29, 33, 37, 40, 16],
 [9, 13, 21, 25, 32, 42, 2],
 [11, 16, 19, 21, 27, 31, 30],
 [14, 27, 30, 31, 40, 42, 2],
 [16, 24, 29, 40, 41, 42, 3],
 [14, 15, 26, 27, 40, 42, 34],
 [2, 9, 16, 25, 26, 40, 42],
 [8, 19, 25, 34, 37, 39, 9],
 [2, 4, 16, 17, 36, 39, 14]]

In [44]:
df=pd.DataFrame(total, columns=['1번째','2번째','3번째','4번째','5번째','6번째','보너스'])
df

   1번째  2번째  3번째  4번째  5번째  6번째  보너스
0   10   23   29   33   37   40   16
1    9   13   21   25   32   42    2
2   11   16   19   21   27   31   30
3   14   27   30   31   40   42    2
4   16   24   29   40   41   42    3
5   14   15   26   27   40   42   34
6    2    9   16   25   26   40   42
7    8   19   25   34   37   39    9
8    2    4   16   17   36   39   14

In [54]:
url=requests.get("https://search.daum.net/search?nil_suggest=btn&w=tot&DA=SBC&q=%EC%97%B0%EA%B8%88%EB%B3%B5%EA%B6%8C+50%ED%9A%8C")
html=BeautifulSoup(url.text)

html.find("span",class_='f_red').text[1:-1] #text[1:-1]는 두번째 자리부터 뒤에서 첫번째 자리까지만 불러오기

'50'

In [50]:
total = []

for n in range(1, 10):                       
  url=requests.get(f"https://search.daum.net/search?nil_suggest=btn&w=tot&DA=SBC&q=%EC%97%B0%EA%B8%88%EB%B3%B5%EA%B6%8C+{n}%ED%9A%8C")
  html=BeautifulSoup(url.text)
  number=html.find("td",class_='number').find_all("span")

  box = []
  for i in number: box.append(int(i.text))

  total.append(box)
  print(f"{n}회 연금복권 데이터 저장완료...{box} ")
  time.sleep(1)

1회 연금복권 데이터 저장완료...[1, 6, 2, 1, 3, 2]
2회 연금복권 데이터 저장완료...[4, 5, 0, 5, 5, 8]
3회 연금복권 데이터 저장완료...[5, 4, 4, 9, 5, 5]
4회 연금복권 데이터 저장완료...[1, 2, 4, 4, 2, 0]
5회 연금복권 데이터 저장완료...[7, 5, 4, 6, 5, 5]
6회 연금복권 데이터 저장완료...[1, 9, 3, 2, 0, 2]
7회 연금복권 데이터 저장완료...[5, 9, 7, 0, 9, 3]
8회 연금복권 데이터 저장완료...[2, 3, 4, 0, 5, 8]
9회 연금복권 데이터 저장완료...[1, 3, 3, 5, 1, 0]

In [55]:
df2=pd.DataFrame(total, columns=['1번째','2번째','3번째','4번째','5번째','6번째'])
df2
df2.to_excel("pension.xlsx")

In [65]:
#네이버 금융
#웹사이트에 표가 있는 경우


url=requests.get("https://finance.naver.com/sise/sise_market_sum.naver?sosok=0&page=2")
html=BeautifulSoup(url.text)

table = html.find('table',class_='type_2')
table

<table cellpadding="0" cellspacing="0" class="type_2" summary="코스피 시세정보를 선택한 항목에 따라 정보를 제공합니다.">
<caption>코스피</caption>
<colgroup>
<col width="2%"/>
<col width="*"/>
<col width="7%"/>
<col width="9%"/>
<col width="7%"/>
<col width="8%"/>
<col width="8%"/>
<col width="8%"/>
<col width="8%"/>
<col width="8%"/>
<col width="8%"/>
<col width="8%"/>
<col width="6%"/>
</colgroup>
<thead>
<tr>
<th scope="col">N</th>
<th scope="col">종목명</th>
<th scope="col">현재가</th>
<th class="tr" scope="col" style="padding-right:8px">전일비</th>
<th scope="col">등락률</th>
<th scope="col">액면가</th>
<th scope="col">시가총액</th>
<th scope="col">상장주식수</th>
<th scope="col">외국인비율</th>
<th scope="col">거래량</th>
<th scope="col">PER</th>
<th scope="col">ROE</th>
<th scope="col">토론실</th>
</tr>
</thead>
<tbody>
<tr><td class="blank_08" colspan="10"></td></tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td class="no">51</td>
<td><a class="tltle" href="/item/main.naver?code=097950">CJ제일제당</a></td>
<td class="number">369,500</td>
<td class="number">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				7,000
				</span>
</td>
<td class="number">
<span class="tah p11 nv01">
				-1.86%
				</span>
</td>
<td class="number">5,000</td>
<td class="number">55,625</td>
<td class="number">15,054</td>
<td class="number">24.25</td>
<td class="number">25,280</td>
<td class="number">9.08</td>
<td class="number">10.76</td>
<td class="center"><a href="/item/board.naver?code=097950"><img alt="토론실" height="13" src="https://ssl.pstatic.net/imgstock/images5/ico_debatebl2.gif" width="15"/></a></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td class="no">52</td>
<td><a class="tltle" href="/item/main.naver?code=302440">SK바이오사이언스</a></td>
<td class="number">71,900</td>
<td class="number">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				1,600
				</span>
</td>
<td class="number">
<span class="tah p11 nv01">
				-2.18%
				</span>
</td>
<td class="number">500</td>
<td class="number">55,208</td>
<td class="number">76,784</td>
<td class="number">4.50</td>
<td class="number">178,375</td>
<td class="number">19.77</td>
<td class="number">38.08</td>
<td class="center"><a href="/item/board.naver?code=302440"><img alt="토론실" height="13" src="https://ssl.pstatic.net/imgstock/images5/ico_debatebl2.gif" width="15"/></a></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td class="no">53</td>
<td><a class="tltle" href="/item/main.naver?code=326030">SK바이오팜</a></td>
<td class="number">69,400</td>
<td class="number">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				2,000
				</span>
</td>
<td class="number">
<span class="tah p11 nv01">
				-2.80%
				</span>
</td>
<td class="number">500</td>
<td class="number">54,349</td>
<td class="number">78,313</td>
<td class="number">6.53</td>
<td class="number">64,264</td>
<td class="number">-112.12</td>
<td class="number">15.75</td>
<td class="center"><a href="/item/board.naver?code=326030"><img alt="토론실" height="13" src="https://ssl.pstatic.net/imgstock/images5/ico_debatebl2.gif" width="15"/></a></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td class="no">54</td>
<td><a class="tltle" href="/item/main.naver?code=000060">메리츠화재</a></td>
<td class="number">47,450</td>
<td class="number">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				950
				</span>
</td>
<td class="number">
<span class="tah p11 nv01">
				-1.96%
				</span>
</td>
<td class="number">500</td>
<td class="number">52,719</td>
<td class="number">111,104</td>
<td class="number">10.83</td>
<td class="number">92,419</td>
<td class="number">6.30</td>
<td class="number">26.12</td>
<td class="center"><a href="/item/board.naver?code=000060"><img alt="토론실" height="13" src="https://ssl.pstatic.net/imgstock/images5/ico_debatebl2.gif" width="15"/></a></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td class="no">55</td>
<td><a class="tltle" href="/item/main.naver?code=383220">F&amp;F</a></td>
<td class="number">137,500</td>
<td class="number">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				2,500
				</span>
</td>
<td class="number">
<span class="tah p11 nv01">
				-1.79%
				</span>
</td>
<td class="number">100</td>
<td class="number">52,672</td>
<td class="number">38,307</td>
<td class="number">12.53</td>
<td class="number">84,408</td>
<td class="number">13.00</td>
<td class="number">N/A</td>
<td class="center"><a href="/item/board.naver?code=383220"><img alt="토론실" height="13" src="https://ssl.pstatic.net/imgstock/images5/ico_debatebl2.gif" width="15"/></a></td>
</tr>
<tr><td class="blank_06" colspan="13"></td></tr>
<tr><td class="division_line" colspan="13"></td></tr>
<tr><td class="blank_08" colspan="13"></td></tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td class="no">56</td>
<td><a class="tltle" href="/item/main.naver?code=069500">KODEX 200</a></td>
<td class="number">29,345</td>
<td class="number">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				75
				</span>
</td>
<td class="number">
<span class="tah p11 nv01">
				-0.25%
				</span>
</td>
<td class="number">0</td>
<td class="number">51,207</td>
<td class="number">174,500</td>
<td class="number">19.48</td>
<td class="number">4,964,993</td>
<td class="number">N/A</td>
<td class="number">N/A</td>
<td class="center"><a href="/item/board.naver?code=069500"><img alt="토론실" height="13" src="https://ssl.pstatic.net/imgstock/images5/ico_debatebl2.gif" width="15"/></a></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td class="no">57</td>
<td><a class="tltle" href="/item/main.naver?code=138040">메리츠금융지주</a></td>
<td class="number">40,100</td>
<td class="number">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				1,450
				</span>
</td>
<td class="number">
<span class="tah p11 nv01">
				-3.49%
				</span>
</td>
<td class="number">500</td>
<td class="number">51,156</td>
<td class="number">127,572</td>
<td class="number">4.96</td>
<td class="number">287,261</td>
<td class="number">4.85</td>
<td class="number">22.33</td>
<td class="center"><a href="/item/board.naver?code=138040"><img alt="토론실" height="13" src="https://ssl.pstatic.net/imgstock/images5/ico_debatebl2.gif" width="15"/></a></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td class="no">58</td>
<td><a class="tltle" href="/item/main.naver?code=271560">오리온</a></td>
<td class="number">124,500</td>
<td class="number">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				1,000
				</span>
</td>
<td class="number">
<span class="tah p11 nv01">
				-0.80%
				</span>
</td>
<td class="number">500</td>
<td class="number">49,222</td>
<td class="number">39,536</td>
<td class="number">37.66</td>
<td class="number">70,796</td>
<td class="number">16.22</td>
<td class="number">12.75</td>
<td class="center"><a href="/item/board.naver?code=271560"><img alt="토론실" height="13" src="https://ssl.pstatic.net/imgstock/images5/ico_debatebl2.gif" width="15"/></a></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td class="no">59</td>
<td><a class="tltle" href="/item/main.naver?code=009540">한국조선해양</a></td>
<td class="number">69,200</td>
<td class="number">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				1,800
				</span>
</td>
<td class="number">
<span class="tah p11 nv01">
				-2.54%
				</span>
</td>
<td class="number">5,000</td>
<td class="number">48,975</td>
<td class="number">70,773</td>
<td class="number">20.10</td>
<td class="number">154,962</td>
<td class="number">-7.65</td>
<td class="number">-8.95</td>
<td class="center"><a href="/item/board.naver?code=009540"><img alt="토론실" height="13" src="https://ssl.pstatic.net/imgstock/images5/ico_debatebl2.gif" width="15"/></a></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td class="no">60</td>
<td><a class="tltle" href="/item/main.naver?code=035250">강원랜드</a></td>
<td class="number">22,800</td>
<td class="number">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				100
				</span>
</td>
<td class="number">
<span class="tah p11 nv01">
				-0.44%
				</span>
</td>
<td class="number">500</td>
<td class="number">48,778</td>
<td class="number">213,940</td>
<td class="number">22.81</td>
<td class="number">286,850</td>
<td class="number">51.12</td>
<td class="number">-0.33</td>
<td class="center"><a href="/item/board.naver?code=035250"><img alt="토론실" height="13" src="https://ssl.pstatic.net/imgstock/images5/ico_debatebl2.gif" width="15"/></a></td>
</tr>
<tr><td class="blank_06" colspan="13"></td></tr>
<tr><td class="division_line" colspan="13"></td></tr>
<tr><td class="blank_08" colspan="13"></td></tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td class="no">61</td>
<td><a class="tltle" href="/item/main.naver?code=032640">LG유플러스</a></td>
<td class="number">10,900</td>
<td class="number">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				150
				</span>
</td>
<td class="number">
<span class="tah p11 red01">
				+1.40%
				</span>
</td>
<td class="number">5,000</td>
<td class="number">47,591</td>
<td class="number">436,611</td>
<td class="number">38.05</td>
<td class="number">407,750</td>
<td class="number">7.98</td>
<td class="number">9.47</td>
<td class="center"><a href="/item/board.naver?code=032640"><img alt="토론실" height="13" src="https://ssl.pstatic.net/imgstock/images5/ico_debatebl2.gif" width="15"/></a></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td class="no">62</td>
<td><a class="tltle" href="/item/main.naver?code=251270">넷마블</a></td>
<td class="number">54,400</td>
<td class="number">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				1,500
				</span>
</td>
<td class="number">
<span class="tah p11 nv01">
				-2.68%
				</span>
</td>
<td class="number">100</td>
<td class="number">46,759</td>
<td class="number">85,954</td>
<td class="number">22.48</td>
<td class="number">498,163</td>
<td class="number">-15.66</td>
<td class="number">4.29</td>
<td class="center"><a href="/item/board.naver?code=251270"><img alt="토론실" height="13" src="https://ssl.pstatic.net/imgstock/images5/ico_debatebl2.gif" width="15"/></a></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td class="no">63</td>
<td><a class="tltle" href="/item/main.naver?code=047810">한국항공우주</a></td>
<td class="number">47,650</td>
<td class="number">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				1,600
				</span>
</td>
<td class="number">
<span class="tah p11 nv01">
				-3.25%
				</span>
</td>
<td class="number">5,000</td>
<td class="number">46,447</td>
<td class="number">97,475</td>
<td class="number">25.17</td>
<td class="number">829,715</td>
<td class="number">35.85</td>
<td class="number">5.19</td>
<td class="center"><a href="/item/board.naver?code=047810"><img alt="토론실" height="13" src="https://ssl.pstatic.net/imgstock/images5/ico_debatebl2.gif" width="15"/></a></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td class="no">64</td>
<td><a class="tltle" href="/item/main.naver?code=005830">DB손해보험</a></td>
<td class="number">63,600</td>
<td class="number">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				200
				</span>
</td>
<td class="number">
<span class="tah p11 red01">
				+0.32%
				</span>
</td>
<td class="number">500</td>
<td class="number">45,029</td>
<td class="number">70,800</td>
<td class="number">43.11</td>
<td class="number">62,049</td>
<td class="number">4.57</td>
<td class="number">13.38</td>
<td class="center"><a href="/item/board.naver?code=005830"><img alt="토론실" height="13" src="https://ssl.pstatic.net/imgstock/images5/ico_debatebl2.gif" width="15"/></a></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td class="no">65</td>
<td><a class="tltle" href="/item/main.naver?code=088980">맥쿼리인프라</a></td>
<td class="number">11,100</td>
<td class="number">
<span class="tah p11">0</span>
</td>
<td class="number">
<span class="tah p11">0.00%</span>
</td>
<td class="number">0</td>
<td class="number">44,938</td>
<td class="number">404,846</td>
<td class="number">13.13</td>
<td class="number">390,614</td>
<td class="number">N/A</td>
<td class="number">N/A</td>
<td class="center"><a href="/item/board.naver?code=088980"><img alt="토론실" height="13" src="https://ssl.pstatic.net/imgstock/images5/ico_debatebl2.gif" width="15"/></a></td>
</tr>
<tr><td class="blank_06" colspan="13"></td></tr>
<tr><td class="division_line" colspan="13"></td></tr>
<tr><td class="blank_08" colspan="13"></td></tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td class="no">66</td>
<td><a class="tltle" href="/item/main.naver?code=402340">SK스퀘어</a></td>
<td class="number">31,650</td>
<td class="number">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				1,250
				</span>
</td>
<td class="number">
<span class="tah p11 nv01">
				-3.80%
				</span>
</td>
<td class="number">100</td>
<td class="number">44,774</td>
<td class="number">141,468</td>
<td class="number">42.50</td>
<td class="number">286,755</td>
<td class="number">2.73</td>
<td class="number">N/A</td>
<td class="center"><a href="/item/board.naver?code=402340"><img alt="토론실" height="13" src="https://ssl.pstatic.net/imgstock/images5/ico_debatebl2.gif" width="15"/></a></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td class="no">67</td>
<td><a class="tltle" href="/item/main.naver?code=034220">LG디스플레이</a></td>
<td class="number">12,500</td>
<td class="number">
<span class="tah p11">0</span>
</td>
<td class="number">
<span class="tah p11">0.00%</span>
</td>
<td class="number">5,000</td>
<td class="number">44,727</td>
<td class="number">357,816</td>
<td class="number">18.23</td>
<td class="number">856,198</td>
<td class="number">-4.48</td>
<td class="number">9.68</td>
<td class="center"><a href="/item/board.naver?code=034220"><img alt="토론실" height="13" src="https://ssl.pstatic.net/imgstock/images5/ico_debatebl2.gif" width="15"/></a></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td class="no">68</td>
<td><a class="tltle" href="/item/main.naver?code=028050">삼성엔지니어링</a></td>
<td class="number">22,550</td>
<td class="number">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				450
				</span>
</td>
<td class="number">
<span class="tah p11 nv01">
				-1.96%
				</span>
</td>
<td class="number">5,000</td>
<td class="number">44,198</td>
<td class="number">196,000</td>
<td class="number">41.85</td>
<td class="number">451,250</td>
<td class="number">9.16</td>
<td class="number">20.67</td>
<td class="center"><a href="/item/board.naver?code=028050"><img alt="토론실" height="13" src="https://ssl.pstatic.net/imgstock/images5/ico_debatebl2.gif" width="15"/></a></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td class="no">69</td>
<td><a class="tltle" href="/item/main.naver?code=018880">한온시스템</a></td>
<td class="number">8,270</td>
<td class="number">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				90
				</span>
</td>
<td class="number">
<span class="tah p11 nv01">
				-1.08%
				</span>
</td>
<td class="number">100</td>
<td class="number">44,145</td>
<td class="number">533,800</td>
<td class="number">16.36</td>
<td class="number">381,710</td>
<td class="number">28.92</td>
<td class="number">13.83</td>
<td class="center"><a href="/item/board.naver?code=018880"><img alt="토론실" height="13" src="https://ssl.pstatic.net/imgstock/images5/ico_debatebl2.gif" width="15"/></a></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td class="no">70</td>
<td><a class="tltle" href="/item/main.naver?code=267250">HD현대</a></td>
<td class="number">55,400</td>
<td class="number">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				1,000
				</span>
</td>
<td class="number">
<span class="tah p11 nv01">
				-1.77%
				</span>
</td>
<td class="number">1,000</td>
<td class="number">43,762</td>
<td class="number">78,993</td>
<td class="number">18.36</td>
<td class="number">96,800</td>
<td class="number">3.89</td>
<td class="number">-1.99</td>
<td class="center"><a href="/item/board.naver?code=267250"><img alt="토론실" height="13" src="https://ssl.pstatic.net/imgstock/images5/ico_debatebl2.gif" width="15"/></a></td>
</tr>
<tr><td class="blank_06" colspan="13"></td></tr>
<tr><td class="division_line" colspan="13"></td></tr>
<tr><td class="blank_08" colspan="13"></td></tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td class="no">71</td>
<td><a class="tltle" href="/item/main.naver?code=010140">삼성중공업</a></td>
<td class="number">4,955</td>
<td class="number">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				125
				</span>
</td>
<td class="number">
<span class="tah p11 nv01">
				-2.46%
				</span>
</td>
<td class="number">1,000</td>
<td class="number">43,604</td>
<td class="number">880,000</td>
<td class="number">16.93</td>
<td class="number">5,632,687</td>
<td class="number">-6.16</td>
<td class="number">-36.89</td>
<td class="center"><a href="/item/board.naver?code=010140"><img alt="토론실" height="13" src="https://ssl.pstatic.net/imgstock/images5/ico_debatebl2.gif" width="15"/></a></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td class="no">72</td>
<td><a class="tltle" href="/item/main.naver?code=021240">코웨이</a></td>
<td class="number">55,300</td>
<td class="number">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				600
				</span>
</td>
<td class="number">
<span class="tah p11 nv01">
				-1.07%
				</span>
</td>
<td class="number">500</td>
<td class="number">40,811</td>
<td class="number">73,800</td>
<td class="number">61.33</td>
<td class="number">76,367</td>
<td class="number">8.70</td>
<td class="number">27.41</td>

In [66]:
table = pd.read_html(str(table))[0]
table

,N,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,토론실
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,51.0,CJ제일제당,369500.0,7000.0,-1.86%,5000.0,55625.0,15054.0,24.25,25280.0,9.08,10.76,NaN
2,52.0,SK바이오사이언스,71900.0,1600.0,-2.18%,500.0,55208.0,76784.0,4.50,178375.0,19.77,38.08,NaN
3,53.0,SK바이오팜,69400.0,2000.0,-2.80%,500.0,54349.0,78313.0,6.53,64264.0,-112.12,15.75,NaN
4,54.0,메리츠화재,47450.0,950.0,-1.96%,500.0,52719.0,111104.0,10.83,92419.0,6.30,26.12,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,99.0,TIGER 차이나전기차SOLACTIVE,11685.0,20.0,+0.17%,0.0,28647.0,245160.0,0.90,1063460.0,NaN,NaN,NaN
77,100.0,씨에스윈드,67500.0,300.0,-0.44%,500.0,28466.0,42171.0,10.82,89325.0,226.51,10.13,NaN
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
table2 = table[table['종목명'].notnull()]
table2

,N,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,토론실
1,51.0,CJ제일제당,369500.0,7000.0,-1.86%,5000.0,55625.0,15054.0,24.25,25280.0,9.08,10.76,NaN
2,52.0,SK바이오사이언스,71900.0,1600.0,-2.18%,500.0,55208.0,76784.0,4.50,178375.0,19.77,38.08,NaN
3,53.0,SK바이오팜,69400.0,2000.0,-2.80%,500.0,54349.0,78313.0,6.53,64264.0,-112.12,15.75,NaN
4,54.0,메리츠화재,47450.0,950.0,-1.96%,500.0,52719.0,111104.0,10.83,92419.0,6.30,26.12,NaN
5,55.0,F&F,137500.0,2500.0,-1.79%,100.0,52672.0,38307.0,12.53,84408.0,13.00,NaN,NaN
9,56.0,KODEX 200,29345.0,75.0,-0.25%,0.0,51207.0,174500.0,19.48,4964993.0,NaN,NaN,NaN
10,57.0,메리츠금융지주,40100.0,1450.0,-3.49%,500.0,51156.0,127572.0,4.96,287261.0,4.85,22.33,NaN
11,58.0,오리온,124500.0,1000.0,-0.80%,500.0,49222.0,39536.0,37.66,70796.0,16.22,12.75,NaN
12,59.0,한국조선해양,69200.0,1800.0,-2.54%,5000.0,48975.0,70773.0,20.10,154962.0,-7.65,-8.95,NaN
13,60.0,강원랜드,22800.0,100.0,-0.44%,500.0,48778.0,213940.0,22.81,286850.0,51.12,-0.33,NaN
17,61.0,LG유플러스,10900.0,150.0,+1.40%,5000.0,47591.0,436611.0,38.05,407750.0,7.98,9.47,NaN
18,62.0,넷마블,54400.0,1500.0,-2.68%,100.0,46759.0,85954.0,22.48,498163.0,-15.66,4.29,NaN
19,63.0,한국항공우주,47650.0,1600.0,-3.25%,5000.0,46447.0,97475.0,25.17,829715.0,35.85,5.19,NaN
20,64.0,DB손해보험,63600.0,200.0,+0.32%,500.0,45029.0,70800.0,43.11,62049.0,4.57,13.38,NaN
21,65.0,맥쿼리인프라,11100.0,0.0,0.00%,0.0,44938.0,404846.0,13.13,390614.0,NaN,NaN,NaN
25,66.0,SK스퀘어,31650.0,1250.0,-3.80%,100.0,44774.0,141468.0,42.50,286755.0,2.73,NaN,NaN
26,67.0,LG디스플레이,12500.0,0.0,0.00%,5000.0,44727.0,357816.0,18.23,856198.0,-4.48,9.68,NaN
27,68.0,삼성엔지니어링,22550.0,450.0,-1.96%,5000.0,44198.0,196000.0,41.85,451250.0,9.16,20.67,NaN
28,69.0,한온시스템,8270.0,90.0,-1.08%,100.0,44145.0,533800.0,16.36,381710.0,28.92,13.83,NaN
29,70.0,HD현대,55400.0,1000.0,-1.77%,1000.0,43762.0,78993.0,18.36,96800.0,3.89,-1.99,NaN
33,71.0,삼성중공업,4955.0,125.0,-2.46%,1000.0,43604.0,880000.0,16.93,5632687.0,-6.16,-36.89,NaN
34,72.0,코웨이,55300.0,600.0,-1.07%,500.0,40811.0,73800.0,61.33,76367.0,8.70,27.41,NaN
35,73.0,유한양행,55500.0,900.0,-1.60%,1000.0,40643.0,73231.0,19.61,120829.0,57.81,5.45,NaN
36,74.0,현대제철,29700.0,750.0,-2.46%,5000.0,39633.0,133446.0,21.78,407832.0,2.43,8.54,NaN
37,75.0,GS,41450.0,1150.0,-2.70%,5000.0,38513.0,92915.0,25.46,123773.0,1.77,15.55,NaN
41,76.0,한국타이어앤테크놀로지,31050.0,50.0,+0.16%,500.0,38463.0,123875.0,36.27,157582.0,5.29,7.69,NaN
42,77.0,현대건설,34050.0,450.0,+1.34%,5000.0,37917.0,111356.0,24.83,447427.0,5.71,5.89,NaN
43,78.0,SK아이이테크놀로지,52800.0,1100.0,-2.04%,1000.0,37645.0,71298.0,8.01,198862.0,-78.22,5.57,NaN
44,79.0,미래에셋증권,6050.0,70.0,+1.17%,5000.0,37227.0,615316.0,12.67,538612.0,6.46,11.66,NaN
45,80.0,메리츠증권,6000.0,130.0,-2.12%,1000.0,36902.0,615041.0,14.07,967351.0,5.00,15.77,NaN
49,81.0,한화에어로스페이스,71500.0,2100.0,-2.85%,5000.0,36200.0,50630.0,23.62,645425.0,19.58,9.21,NaN
50,82.0,금호석유,121500.0,500.0,+0.41%,5000.0,35617.0,29314.0,21.17,45308.0,3.45,47.76,NaN
51,83.0,BGF리테일,201000.0,1000.0,-0.50%,1000.0,34741.0,17284.0,32.83,16113.0,18.45,19.61,NaN
52,84.0,TIGER CD금리투자KIS(합성),51705.0,5.0,+0.01%,0.0,34421.0,66572.0,0.00,247982.0,NaN,NaN,NaN
53,85.0,한미약품,279000.0,500.0,-0.18%,2500.0,34367.0,12318.0,15.91,28059.0,43.39,8.75,NaN
57,86.0,삼성카드,29000.0,100.0,+0.35%,5000.0,33599.0,115859.0,6.17,45097.0,5.73,7.53,NaN
58,87.0,SKC,87900.0,200.0,-0.23%,5000.0,33286.0,37868.0,14.07,158824.0,24.73,11.60,NaN
59,88.0,현대미포조선,82800.0,1400.0,+1.72%,5000.0,33072.0,39942.0,20.63,161428.0,122.85,-7.11,NaN
60,89.0,두산밥캣,32600.0,550.0,-1.66%,500.0,32681.0,100249.0,29.25,168481.0,6.76,9.19,NaN
61,90.0,호텔신라,82400.0,900.0,+1.10%,5000.0,32340.0,39248.0,18.30,217031.0,67.93,4.51,NaN
65,91.0,롯데지주,29900.0,150.0,-0.50%,200.0,31368.0,104909.0,9.53,109990.0,17.90,4.61,NaN
66,92.0,한국가스공사,33300.0,50.0,+0.15%,5000.0,30740.0,92313.0,10.06,216650.0,2.60,11.63,NaN
67,93.0,KODEX KOFR금리액티브(합성),101715.0,10.0,+0.01%,0.0,30170.0,29661.0,0.00,11456.0,NaN,NaN,NaN
68,94.0,현대로템,27050.0,800.0,-2.87%,5000.0,29523.0,109142.0,6.46,1317842.0,26.92,5.01,NaN
69,95.0,GS리테일,28050.0,300.0,+1.08%,1000.0,29373.0,104718.0,7.58,90890.0,32.54,25.58,NaN
73,96.0,팬오션,5450.0,50.0,-0.91%,1000.0,29134.0,534570.0,16.31,1390724.0,3.74,17.16,NaN
74,97.0,에스디바이오센서,27950.0,650.0,-2.27%,500.0,29101.0,104117.0,14.54,220073.0,2.11,72.47,NaN
75,98.0,한국금융지주,52100.0,300.0,+0.58%,5000.0,29033.0,55726.0,36.18,90282.0,3.65,27.12,NaN
76,99.0,TIGER 차이나전기차SOLACTIVE,11685.0,20.0,+0.17%,0.0,28647.0,245160.0,0.90,1063460.0,NaN,NaN,NaN
77,100.0,씨에스윈드,67500.0,300.0,-0.44%,500.0,28466.0,42171.0,10.82,89325.0,226.51,10.13,NaN

In [69]:
del table2['N']
del table2['토론실']

table2

,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
1,CJ제일제당,369500.0,7000.0,-1.86%,5000.0,55625.0,15054.0,24.25,25280.0,9.08,10.76
2,SK바이오사이언스,71900.0,1600.0,-2.18%,500.0,55208.0,76784.0,4.50,178375.0,19.77,38.08
3,SK바이오팜,69400.0,2000.0,-2.80%,500.0,54349.0,78313.0,6.53,64264.0,-112.12,15.75
4,메리츠화재,47450.0,950.0,-1.96%,500.0,52719.0,111104.0,10.83,92419.0,6.30,26.12
5,F&F,137500.0,2500.0,-1.79%,100.0,52672.0,38307.0,12.53,84408.0,13.00,NaN
9,KODEX 200,29345.0,75.0,-0.25%,0.0,51207.0,174500.0,19.48,4964993.0,NaN,NaN
10,메리츠금융지주,40100.0,1450.0,-3.49%,500.0,51156.0,127572.0,4.96,287261.0,4.85,22.33
11,오리온,124500.0,1000.0,-0.80%,500.0,49222.0,39536.0,37.66,70796.0,16.22,12.75
12,한국조선해양,69200.0,1800.0,-2.54%,5000.0,48975.0,70773.0,20.10,154962.0,-7.65,-8.95
13,강원랜드,22800.0,100.0,-0.44%,500.0,48778.0,213940.0,22.81,286850.0,51.12,-0.33
17,LG유플러스,10900.0,150.0,+1.40%,5000.0,47591.0,436611.0,38.05,407750.0,7.98,9.47
18,넷마블,54400.0,1500.0,-2.68%,100.0,46759.0,85954.0,22.48,498163.0,-15.66,4.29
19,한국항공우주,47650.0,1600.0,-3.25%,5000.0,46447.0,97475.0,25.17,829715.0,35.85,5.19
20,DB손해보험,63600.0,200.0,+0.32%,500.0,45029.0,70800.0,43.11,62049.0,4.57,13.38
21,맥쿼리인프라,11100.0,0.0,0.00%,0.0,44938.0,404846.0,13.13,390614.0,NaN,NaN
25,SK스퀘어,31650.0,1250.0,-3.80%,100.0,44774.0,141468.0,42.50,286755.0,2.73,NaN
26,LG디스플레이,12500.0,0.0,0.00%,5000.0,44727.0,357816.0,18.23,856198.0,-4.48,9.68
27,삼성엔지니어링,22550.0,450.0,-1.96%,5000.0,44198.0,196000.0,41.85,451250.0,9.16,20.67
28,한온시스템,8270.0,90.0,-1.08%,100.0,44145.0,533800.0,16.36,381710.0,28.92,13.83
29,HD현대,55400.0,1000.0,-1.77%,1000.0,43762.0,78993.0,18.36,96800.0,3.89,-1.99
33,삼성중공업,4955.0,125.0,-2.46%,1000.0,43604.0,880000.0,16.93,5632687.0,-6.16,-36.89
34,코웨이,55300.0,600.0,-1.07%,500.0,40811.0,73800.0,61.33,76367.0,8.70,27.41
35,유한양행,55500.0,900.0,-1.60%,1000.0,40643.0,73231.0,19.61,120829.0,57.81,5.45
36,현대제철,29700.0,750.0,-2.46%,5000.0,39633.0,133446.0,21.78,407832.0,2.43,8.54
37,GS,41450.0,1150.0,-2.70%,5000.0,38513.0,92915.0,25.46,123773.0,1.77,15.55
41,한국타이어앤테크놀로지,31050.0,50.0,+0.16%,500.0,38463.0,123875.0,36.27,157582.0,5.29,7.69
42,현대건설,34050.0,450.0,+1.34%,5000.0,37917.0,111356.0,24.83,447427.0,5.71,5.89
43,SK아이이테크놀로지,52800.0,1100.0,-2.04%,1000.0,37645.0,71298.0,8.01,198862.0,-78.22,5.57
44,미래에셋증권,6050.0,70.0,+1.17%,5000.0,37227.0,615316.0,12.67,538612.0,6.46,11.66
45,메리츠증권,6000.0,130.0,-2.12%,1000.0,36902.0,615041.0,14.07,967351.0,5.00,15.77
49,한화에어로스페이스,71500.0,2100.0,-2.85%,5000.0,36200.0,50630.0,23.62,645425.0,19.58,9.21
50,금호석유,121500.0,500.0,+0.41%,5000.0,35617.0,29314.0,21.17,45308.0,3.45,47.76
51,BGF리테일,201000.0,1000.0,-0.50%,1000.0,34741.0,17284.0,32.83,16113.0,18.45,19.61
52,TIGER CD금리투자KIS(합성),51705.0,5.0,+0.01%,0.0,34421.0,66572.0,0.00,247982.0,NaN,NaN
53,한미약품,279000.0,500.0,-0.18%,2500.0,34367.0,12318.0,15.91,28059.0,43.39,8.75
57,삼성카드,29000.0,100.0,+0.35%,5000.0,33599.0,115859.0,6.17,45097.0,5.73,7.53
58,SKC,87900.0,200.0,-0.23%,5000.0,33286.0,37868.0,14.07,158824.0,24.73,11.60
59,현대미포조선,82800.0,1400.0,+1.72%,5000.0,33072.0,39942.0,20.63,161428.0,122.85,-7.11
60,두산밥캣,32600.0,550.0,-1.66%,500.0,32681.0,100249.0,29.25,168481.0,6.76,9.19
61,호텔신라,82400.0,900.0,+1.10%,5000.0,32340.0,39248.0,18.30,217031.0,67.93,4.51
65,롯데지주,29900.0,150.0,-0.50%,200.0,31368.0,104909.0,9.53,109990.0,17.90,4.61
66,한국가스공사,33300.0,50.0,+0.15%,5000.0,30740.0,92313.0,10.06,216650.0,2.60,11.63
67,KODEX KOFR금리액티브(합성),101715.0,10.0,+0.01%,0.0,30170.0,29661.0,0.00,11456.0,NaN,NaN
68,현대로템,27050.0,800.0,-2.87%,5000.0,29523.0,109142.0,6.46,1317842.0,26.92,5.01
69,GS리테일,28050.0,300.0,+1.08%,1000.0,29373.0,104718.0,7.58,90890.0,32.54,25.58
73,팬오션,5450.0,50.0,-0.91%,1000.0,29134.0,534570.0,16.31,1390724.0,3.74,17.16
74,에스디바이오센서,27950.0,650.0,-2.27%,500.0,29101.0,104117.0,14.54,220073.0,2.11,72.47
75,한국금융지주,52100.0,300.0,+0.58%,5000.0,29033.0,55726.0,36.18,90282.0,3.65,27.12
76,TIGER 차이나전기차SOLACTIVE,11685.0,20.0,+0.17%,0.0,28647.0,245160.0,0.90,1063460.0,NaN,NaN
77,씨에스윈드,67500.0,300.0,-0.44%,500.0,28466.0,42171.0,10.82,89325.0,226.51,10.13

In [76]:
kospi_page = int(html.find('td',class_ = 'pgRR').find('a')['href'][-2:])

In [78]:
from tqdm import tqdm  #tqdm은 진행 상황을 표시해준다

total = []

for n in tqdm(range(1,kospi_page + 1)):
  url=requests.get(f"https://finance.naver.com/sise/sise_market_sum.naver?sosok=0&page={n}")
  html = BeautifulSoup(url.text)
  table = html.find('table', class_ = 'type_2')
  table = pd.read_html(str(table))[0]
  table = table[table['종목명'].notnull()]
  del table['N']
  del table['토론실']
  total.append(table)
  time.sleep(1)

100%|██████████| 40/40 [01:15<00:00,  1.88s/it]

In [79]:
kospi = pd.concat(total, ignore_index=True)
kospi.to_excel("kospi.xlsx")
kospi

,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
0,삼성전자,55800.0,300.0,+0.54%,100.0,3331139.0,5969783.0,49.67,9744178.0,9.05,13.92
1,LG에너지솔루션,443000.0,3000.0,-0.67%,500.0,1036620.0,234000.0,5.17,170777.0,180.52,10.68
2,삼성바이오로직스,809000.0,18000.0,-2.18%,2500.0,575798.0,71174.0,10.82,52401.0,109.83,8.21
3,SK하이닉스,75100.0,600.0,-0.79%,5000.0,546730.0,728002.0,49.75,1770653.0,5.90,16.84
4,LG화학,600000.0,4000.0,-0.66%,5000.0,423554.0,70592.0,48.16,79389.0,21.11,18.47
...,...,...,...,...,...,...,...,...,...,...,...
1970,ARIRANG TDF2050액티브,9645.0,65.0,+0.68%,0.0,23.0,240.0,0.00,241.0,NaN,NaN
1971,KBSTAR 팔라듐선물인버스(H),4295.0,20.0,+0.47%,0.0,21.0,500.0,0.00,158.0,NaN,NaN
1972,KB 레버리지 KRX BBIG K-뉴딜 ETN,2020.0,15.0,-0.74%,0.0,20.0,1000.0,0.00,1078.0,NaN,NaN
1973,삼성 레버리지 KRX BBIG K-뉴딜 ETN,1970.0,35.0,-1.75%,0.0,20.0,1000.0,0.00,1560.0,NaN,NaN
1974,ARIRANG 미국대체투자Top10MV,9670.0,75.0,-0.77%,0.0,19.0,200.0,0.00,171.0,NaN,NaN

In [ ]:
#코스피, 코스닥 -> 하나의 데이터 프레임




from tqdm import tqdm  #tqdm은 진행 상황을 표시해준다

total = []

for n in tqdm(range(1,kosdaq_page + 1)):
  url=requests.get(f"https://finance.naver.com/sise/sise_market_sum.naver?sosok=0&page={n}")
  html = BeautifulSoup(url.text)
  table = html.find('table', class_ = 'type_2')
  table = pd.read_html(str(table))[0]
  table = table[table['종목명'].notnull()]
  del table['N']
  del table['토론실']
  total.append(table)
  time.sleep(1)

In [83]:
kosdaq_page = int(html.find('td',class_ = 'pgRR').find('a')['href'][-2:])

AttributeError: ignored

In [82]:
url2 = requests.get("https://finance.naver.com/sise/sise_market_sum.naver?sosok=1")
html2 = BeautifulSoup(url2.text)

kosdaq_page = int(html.find('td', class_='pgRR').find('a')['href'][-2:])

table2 = html.find('table', class_ = 'type_2')
table2 = pd.read_html(str(table2))[0]
table2 = table2[table2['종목명'].notnull()]
del table2['N']
del table2['토론실']
table2

,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
1,KODEX 퀄리티Plus,7380.0,0.0,0.00%,0.0,37.0,500.0,20.00,0.0,NaN,NaN
2,HANARO 미국메타버스iSelect,7245.0,0.0,0.00%,0.0,36.0,500.0,0.00,130.0,NaN,NaN
3,ARIRANG 글로벌수소&차세대연료전지MV,7235.0,55.0,-0.75%,0.0,36.0,500.0,0.00,607.0,NaN,NaN
4,ARIRANG 탄소효율그린뉴딜,7185.0,5.0,+0.07%,0.0,36.0,500.0,20.00,175.0,NaN,NaN
5,마이티 200커버드콜ATM레버리지,5955.0,155.0,-2.54%,0.0,36.0,600.0,0.00,5.0,NaN,NaN
9,KODEX 골드선물인버스(H),7085.0,115.0,-1.60%,0.0,35.0,500.0,0.00,5621.0,NaN,NaN
10,ARIRANG 국채선물3년,51970.0,0.0,0.00%,0.0,35.0,68.0,0.00,0.0,NaN,NaN
11,ARIRANG 글로벌희토류전략자원기업MV,7585.0,20.0,-0.26%,0.0,34.0,450.0,0.00,224.0,NaN,NaN
12,KBSTAR 200생활소비재,6750.0,35.0,-0.52%,0.0,34.0,500.0,0.00,229.0,NaN,NaN
13,삼성 레버리지 HSCEI ETN(H),3320.0,75.0,+2.31%,0.0,33.0,1000.0,0.00,107.0,NaN,NaN
17,TIGER KRX BBIG K-뉴딜레버리지,2785.0,15.0,-0.54%,0.0,31.0,1100.0,0.00,2106.0,NaN,NaN
18,QV 블룸버그 2X 천연가스 선물 ETN(H),5745.0,1145.0,-16.62%,0.0,29.0,500.0,0.00,2882.0,NaN,NaN
19,HANARO 코스닥150선물레버리지,5735.0,40.0,+0.70%,0.0,29.0,500.0,0.00,7108.0,NaN,NaN
20,KBSTAR 글로벌원자력iSelect,8820.0,5.0,-0.06%,0.0,26.0,300.0,0.00,10.0,NaN,NaN
21,흥국화재2우B,16200.0,0.0,0.00%,5000.0,25.0,154.0,0.58,5727.0,9.01,NaN
25,신한 인버스 브렌트원유 선물 ETN(H),2480.0,5.0,-0.20%,0.0,25.0,1000.0,0.00,54.0,NaN,NaN
26,ARIRANG TDF2030액티브,9895.0,40.0,+0.41%,0.0,25.0,250.0,0.00,45.0,NaN,NaN
27,ARIRANG TDF2040액티브,9780.0,30.0,-0.31%,0.0,24.0,250.0,0.00,65.0,NaN,NaN
28,ARIRANG TDF2060액티브,9790.0,75.0,+0.77%,0.0,23.0,240.0,0.00,313.0,NaN,NaN
29,ARIRANG 글로벌인공지능산업MV,7815.0,60.0,+0.77%,0.0,23.0,300.0,0.00,844.0,NaN,NaN
33,ARIRANG TDF2050액티브,9645.0,65.0,+0.68%,0.0,23.0,240.0,0.00,241.0,NaN,NaN
34,KBSTAR 팔라듐선물인버스(H),4295.0,20.0,+0.47%,0.0,21.0,500.0,0.00,158.0,NaN,NaN
35,KB 레버리지 KRX BBIG K-뉴딜 ETN,2020.0,15.0,-0.74%,0.0,20.0,1000.0,0.00,1078.0,NaN,NaN
36,삼성 레버리지 KRX BBIG K-뉴딜 ETN,1970.0,35.0,-1.75%,0.0,20.0,1000.0,0.00,1560.0,NaN,NaN
37,ARIRANG 미국대체투자Top10MV,9670.0,75.0,-0.77%,0.0,19.0,200.0,0.00,171.0,NaN,NaN

In [ ]:
stock = pd.concat([kospi,kosdaq],ignore_index = True)

In [92]:
#주식 가격 크롤링

dic = {"User-Agent" : "Mozilla/5.0 (Macintosh; Intel Mac OS X 13_1)" }


url = requests.get("https://finance.naver.com/item/sise_day.naver?code=005930", headers = dic)
html = BeautifulSoup(url.text)

table = html.find('table')
table = pd.read_html(str(table))[0]
table = table.dropna()
table

            날짜       종가     전일비       시가       고가       저가         거래량
1   2023.01.03  55900.0   400.0  55400.0  56000.0  54500.0  10913137.0
2   2023.01.02  55500.0   200.0  55500.0  56100.0  55200.0  10031448.0
3   2022.12.29  55300.0  1300.0  56000.0  56200.0  55300.0  11295935.0
4   2022.12.28  56600.0  1500.0  57600.0  57600.0  56400.0  14665410.0
5   2022.12.27  58100.0   200.0  58000.0  58400.0  57900.0  10667027.0
9   2022.12.26  57900.0   200.0  58000.0  58100.0  57700.0   6756411.0
10  2022.12.23  58100.0  1000.0  58200.0  58400.0  57700.0   9829407.0
11  2022.12.22  59100.0  1100.0  58100.0  59100.0  58100.0  10720630.0
12  2022.12.21  58000.0   600.0  58700.0  59100.0  58000.0  10356971.0
13  2022.12.20  58600.0   900.0  59000.0  59100.0  58500.0   9284761.0

In [ ]:
#네이버 기사 제목 크롤링하기

for i in range(1,3992,10):
  print(i)

In [107]:
#페이지 뉴스 기사 제목 10개 가져오기

total = []

for n in tqdm(range(1,3992,10)):
  url = requests.get(f"https://search.naver.com/search.naver?where=news&sm=tab_pge&query=%EC%95%84%EC%9D%B4%EC%9C%A0&sort=0&photo=0&field=0&pd=0&ds=&de=&cluster_rank=86&mynews=0&office_type=0&office_section_code=0&news_office_checked=&nso=so:r,p:all,a:all&start={n}")
  html = BeautifulSoup(url.text)

  news = html.find_all('a', class_ = 'news_tit')

  for i in news: total.append(i['title'])
  time.sleep(1)

100%|██████████| 400/400 [14:10<00:00,  2.13s/it]

In [108]:
len(total)

4000

In [111]:
import re #정규표현식// 어떤 문장이 있을 때 내가 원하는 패턴을 추출


t = ""
for i in total:
  t += i
  t += ""

In [112]:
len(t)

133098

In [120]:
#konlpy 사용하면 조사 처리 잘 할 수 있음/ jupiter에서 잘 할 수 있음
words = re.findall("[가-힣]+",t) #a+ a가 한개 이상으로 이루어진 패턴을 찾는다